certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
et-xmlfile==1.1.0
idna==3.7
msal==1.29.0
numpy==2.0.0
Office365-REST-Python-Client==2.5.11
openpyxl==3.1.5
pandas==2.2.2
pycparser==2.22
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
